@tailwind base;
@tailwind components;
@tailwind utilities;
.leaflet-pane {
  z-index: 10 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 15 !important;
}
.leaflet-container {
  font-family: Manrope !important;
}
.leaflet-popup-content p {
  margin: 0 !important;
}
